In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [2]:
ser = Series(randn(6), index=[[1,1,1,2,2,3],['a','b','c','a','b','c']])

ser

In [3]:
ser

1  a   -1.058780
   b   -0.896261
   c   -0.569445
2  a    1.351042
   b    0.436915
3  c    0.421485
dtype: float64

In [4]:
ser.index

MultiIndex(levels=[[1, 2, 3], ['a', 'b', 'c']],
           labels=[[0, 0, 0, 1, 1, 2], [0, 1, 2, 0, 1, 2]])

In [5]:
ser[1]

a   -1.058780
b   -0.896261
c   -0.569445
dtype: float64

In [6]:
ser[:,'a']

1   -1.058780
2    1.351042
dtype: float64

In [7]:
dframe =ser.unstack()

In [8]:
dframe

          a         b         c
1 -1.058780 -0.896261 -0.569445
2  1.351042  0.436915       NaN
3       NaN       NaN  0.421485

In [10]:
dframe2 = DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,3,2]],
                   columns =[['NY','NY','LA','SF'],['Cold','Hot','Hot','Cold']])

In [11]:
dframe2

      NY      LA   SF
    Cold Hot Hot Cold
a 1    0   1   2    3
  2    4   5   6    7
b 3    8   9  10   11
  2   12  13  14   15

In [16]:
dframe2.index.names = ['INDEX_!','INDEX_2']
dframe2.columns.names =['Cities','Temp']
dframe2

Cities            NY      LA   SF
Temp            Cold Hot Hot Cold
INDEX_! INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       3          8   9  10   11
        2         12  13  14   15

In [18]:
dframe2.swaplevel('Cities','Temp',axis=1)

Temp            Cold Hot     Cold
Cities            NY  NY  LA   SF
INDEX_! INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       3          8   9  10   11
        2         12  13  14   15

In [19]:
dframe2.sortlevel(1)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: sortlevel is deprecated, use sort_index(level= ...)
  """Entry point for launching an IPython kernel.

Cities            NY      LA   SF
Temp            Cold Hot Hot Cold
INDEX_! INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       2         12  13  14   15
        3          8   9  10   11

In [20]:
dframe2.sum(level='Temp',axis =1)

Temp             Cold  Hot
INDEX_! INDEX_2
a       1           3    3
        2          11   11
b       3          19   19
        2          27   27