In [25]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [26]:
obj = Series ([3,6,9,12])

In [27]:
obj
# each and every value is indexed

0     3
1     6
2     9
3    12
dtype: int64

In [28]:
obj.values

array([ 3,  6,  9, 12])

In [29]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [30]:
# we can have the index set ourself or let system do it
ww2_cas = Series([8700000, 4300000,3000000, 2100000, 400000], index=['USSR','Germany','China','Japan','USA'])

In [31]:
ww2_cas
# we can choose the index we want

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [32]:
ww2_cas.USSR
# we can call an index to see the value

8700000

In [33]:
# check which ocuntries has casualities more than 4M
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [34]:
'uusr' in ww2_cas

False

In [35]:
'USSR' in ww2_cas

True

In [36]:
# we can convert a series into a dictionary
ww2_cas = ww2_cas.to_dict()

In [37]:
ww2_cas

{'USSR': 8700000,
 'Germany': 4300000,
 'China': 3000000,
 'Japan': 2100000,
 'USA': 400000}

In [38]:
ww2_cas = Series(ww2_cas)

In [39]:
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [40]:
countries = ['China', 'Germany', 'Japan', 'USA', 'USSR', "Argentina"]

In [41]:
obj = Series(ww2_cas, index = countries)

In [42]:
obj
# we can create a list and then we can map it with the Series we have created

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [43]:
pd.isnull(obj)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [44]:
pd.notnull(obj)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [46]:
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [47]:
obj

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [48]:
ww2_cas +obj
#adding two series

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [49]:
obj.name = 'World War 2 Casualities'

In [50]:
obj

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualities, dtype: float64

In [51]:
obj.index.name = 'Countries'

In [52]:
obj

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualities, dtype: float64

AttributeError: 'numpy.ndarray' object has no attribute 'name'