In [3]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [4]:
ser1 = Series(np.arange(3), index=['A','B','C'])

In [7]:
ser1 = 2**ser1

In [8]:
ser1

A     1
B     4
C    16
dtype: int64

In [9]:
ser1['A']

1

In [11]:
ser1[0]

1

In [12]:
ser1[1]

4

In [15]:
ser1[0:2]

A    1
B    4
dtype: int64

In [16]:
ser1[['A','B']]

A    1
B    4
dtype: int64

In [17]:
ser1[ser1>3]

B     4
C    16
dtype: int64

In [18]:
ser1[ser1>3] = 10

In [19]:
ser1

A     1
B    10
C    10
dtype: int64

In [20]:
dframe = DataFrame(np.arange(25).reshape(5,5), index =['LA','PGH','DC','CHG','DEL'],
                  columns = ['A','B','C','D','E'])

In [21]:
dframe

      A   B   C   D   E
LA    0   1   2   3   4
PGH   5   6   7   8   9
DC   10  11  12  13  14
CHG  15  16  17  18  19
DEL  20  21  22  23  24

In [22]:
dframe['A']

LA      0
PGH     5
DC     10
CHG    15
DEL    20
Name: A, dtype: int64

In [24]:
dframe[['B','E']]

      B   E
LA    1   4
PGH   6   9
DC   11  14
CHG  16  19
DEL  21  24

In [27]:
dframe[dframe['C']>12]

      A   B   C   D   E
CHG  15  16  17  18  19
DEL  20  21  22  23  24

In [26]:
dframe

      A   B   C   D   E
LA    0   1   2   3   4
PGH   5   6   7   8   9
DC   10  11  12  13  14
CHG  15  16  17  18  19
DEL  20  21  22  23  24

In [28]:
dframe > 10

         A      B      C      D      E
LA   False  False  False  False  False
PGH  False  False  False  False  False
DC   False   True   True   True   True
CHG   True   True   True   True   True
DEL   True   True   True   True   True

In [31]:
dframe.ix['LA']

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

A    0
B    1
C    2
D    3
E    4
Name: LA, dtype: int64

 dframe.ix[1]

In [32]:
dframe.ix['LA']

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

A    0
B    1
C    2
D    3
E    4
Name: LA, dtype: int64