In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4], index =[])

In [4]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [7]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [8]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [9]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value =0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [10]:
ser3 = Series(['USA','Mexico','Canada'], index =[0,5,10])

In [11]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [14]:
ranger = range(15)
ser4 = ser3.reindex(ranger)

In [15]:
ser4

0        USA
1        NaN
2        NaN
3        NaN
4        NaN
5     Mexico
6        NaN
7        NaN
8        NaN
9        NaN
10    Canada
11       NaN
12       NaN
13       NaN
14       NaN
dtype: object

In [17]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [21]:
dframe = DataFrame((randn(25).reshape(5,5)),index =['A','B','D','E','F'],
                   columns =['col1','col2','col3','col4','col5'])

In [22]:
dframe

       col1      col2      col3      col4      col5
A -0.390650 -0.437581 -1.244975  2.275277 -1.132107
B -1.486188  0.292848  0.455843  0.385994  0.818594
D -0.924866  0.018619  0.282520 -1.254067  0.111312
E  0.576865 -0.606582 -1.219495 -0.576495 -1.723499
F -0.489347  0.126179 -0.085776  0.276859 -0.139093

In [23]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [24]:
dframe2

       col1      col2      col3      col4      col5
A -0.390650 -0.437581 -1.244975  2.275277 -1.132107
B -1.486188  0.292848  0.455843  0.385994  0.818594
C       NaN       NaN       NaN       NaN       NaN
D -0.924866  0.018619  0.282520 -1.254067  0.111312
E  0.576865 -0.606582 -1.219495 -0.576495 -1.723499
F -0.489347  0.126179 -0.085776  0.276859 -0.139093

In [26]:
new_columns =['col1','col2','col3','col4','col5','col6']

In [27]:
dframe2.reindex(columns= new_columns)

       col1      col2      col3      col4      col5  col6
A -0.390650 -0.437581 -1.244975  2.275277 -1.132107   NaN
B -1.486188  0.292848  0.455843  0.385994  0.818594   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.924866  0.018619  0.282520 -1.254067  0.111312   NaN
E  0.576865 -0.606582 -1.219495 -0.576495 -1.723499   NaN
F -0.489347  0.126179 -0.085776  0.276859 -0.139093   NaN

In [28]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

       col1      col2      col3      col4      col5  col6
A -0.390650 -0.437581 -1.244975  2.275277 -1.132107   NaN
B -1.486188  0.292848  0.455843  0.385994  0.818594   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.924866  0.018619  0.282520 -1.254067  0.111312   NaN
E  0.576865 -0.606582 -1.219495 -0.576495 -1.723499   NaN
F -0.489347  0.126179 -0.085776  0.276859 -0.139093   NaN