In [1]:
import pandas as pd

In [2]:
xlsfile = pd.ExcelFile('test.xlsx')

In [3]:
xlsfile

In [4]:
dframe = xlsfile.parse('Sheet1')

In [5]:
dframe

   this is a text  Unnamed: 1  Unnamed: 2
0              23         233          87
1              23         324         445
2             345        4353         244
3             434         545         534
4              35         535          35