In [1]:
my_list =[1,2,3]

In [2]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [5]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [6]:
index_count = 0

for letter in 'abcde':
    print('at index {} the letter is {}'.format(index_count, letter))

at index 0 the letter is a
at index 0 the letter is b
at index 0 the letter is c
at index 0 the letter is d
at index 0 the letter is e

In [9]:
index_count =0
for letter in 'abcde':
    print('at index {} the letter is {}'.format(index_count, letter))
    index_count+=1

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d
at index 4 the letter is e

In [12]:
index_count =0
words ='abcde'
for letter in words:
    print(words[index_count])
    index_count+=1

a
b
c
d
e

In [14]:
word = 'abcde'
for items in enumerate(word):
    print(items)
    #will convert string to touple

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [15]:
word ='abcde'
for index,item in enumerate(word):
    print(item)

a
b
c
d
e

In [18]:
my_list1 =['a','b','c','d','e']
my_list2 =[1,2,3,4,5]

for item in zip(my_list1,my_list2):
    print(item)

('a', 1)
('b', 2)
('c', 3)
('d', 4)
('e', 5)

In [20]:
mylist1= [1,2,3,4,5]
mylist2=[1,2,3]
mylist3=[1,2,3,4,5]
for a,b,c in zip(mylist1, mylist2, mylist3):
    print(a,b,c)

1 1 1
2 2 2
3 3 3

In [22]:
'x' in [1,2,3]

False

In [23]:
2 in [1,2,3]

True

In [24]:
'a' in 'World'

False

In [25]:
'mykey' in {'mykey':123}

True

In [26]:
d = {'245':245}
245 in d

False

In [27]:
245 in d.values()

True

In [28]:
mylist = [10,20,30,40,50]

In [29]:
min(mylist)
#min will print minimum value in a data set same as max

10

In [30]:
from random import shuffle

In [31]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [32]:
shuffle(mylist)
# i cannot assign shuffled list to a new variable

In [33]:
mylist

[2, 3, 4, 5, 8, 9, 10, 1, 6, 7]

In [34]:
from random import randint

In [36]:
randint(0,100)
# i can assign random value to a variable

51

In [37]:
input('enter a value: ')

enter a value: 100

'100'

In [38]:
result = input('what is your name')

what is your nameMurali

In [41]:
rev =''
for val in result:
    rev=val+rev

In [42]:
print(rev)

ilaruM

In [44]:
result = input('what is your name')

what is your name300

In [45]:
int(result)

300

In [46]:
type (result)

str

In [47]:
result = int(input('what your number '))

what your number 500

In [48]:
type(result)

int